.date {
    font-family: 'Quicksand';
    position: relative;
    cursor: pointer;
}

.text__label {
    margin-bottom: 4px;
}

.text__label label {
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight: 600;
    color: #5e6278;
    position: relative;
}

.disabled svg {
    pointer-events: none;
    color: #ccc !important;
}

.date p {
    font-family: 'Quicksand';
    color: #5E6278;
    font-weight: 500;
}

.date > div:nth-child(2) {
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
    background: #fff;
    padding: 10px;
    width: 300px;
    position: absolute;
    z-index: 999999;
    box-shadow: 0px 0px 20px 0px rgb(76 87 125 / 10%);
}

.month {
    font-weight: 800;
    color: #007FA4;
    letter-spacing: -1px;
    font-size: 16px;
}

.date button {
    border: 1px solid #E1E3EA;
    border-radius: 100%;
    cursor: pointer;
    padding: 9px 9px;
}

.icon__date {
    position: relative;
}

.icon__date svg {
    left: 5px !important;
}

.date svg {
    position: absolute;
    margin-left: 5px;
    margin-right: 5px;
    z-index: 1;
    left: 1px;
    top: 14px;
    color: #007FA4;
}

.date button svg {
    margin: 0;
    position: relative;
    top: 1px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    background: #ededed;
    bottom: -20px;
}

.header>button {
    /*  border: 1px solid red; */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header>button>svg {
    width: 2rem;
    height: 2rem;
}

.month:first-letter {
    text-transform: uppercase;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px 0px;
    margin-top: 35px;
}

.day-label {
    font-size: 11px;
    color: #5E6278;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    color: #5E6278;
    background-color: #fff;
    border-radius: 5px;
    padding: 11px 8px !important;
    transition: 0.5s;
}

.day:hover {
    background: #007FA4; 
    border-radius:100%;
    color: #fff;
    transition: 0.5s;
}

.day.selected {
    background: #007FA4; 
    border-radius:100%;
    color: #fff;
    transition: 0.5s;
}

.date__select > div

.day.active {
    background-color: red;
    color: #fff;
}

.day.has-event {
    background-color: #52C773;
    color: #fff;
}

.day-label {
    font-weight: bold;
    text-align: center;
}

.event-tooltip {
    position: absolute;
    z-index: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .header { 
        margin-bottom: 0px;
    }
    .date > div:nth-child(3) {
        width: auto;
    }
    .days {
        margin-top:30px;
        grid-gap: 10px 0px;
    }
    .header>button>svg {
        width: 15px;
        height: 15px;
    }
    .month {
        font-size: 15px;
    }
    .day {
        font-size: 11px;
        font-weight: 900;
        padding: 11px 13px !important;
    }
}