.book {
    background: #ffffff;
}

.book_wrapper {
    max-width: 900px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 80px;
}

.book_wrapper > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book_wrapper img {
    width: 175px;
    height: 132px;
    margin-bottom: 40px;
}

.symbol {
    color: red;
}

.book_wrapper h3 {
    font-size: 36px;
    font-family: quicksand;
    font-weight: 700;
    line-height: 40px;
    color: #9B292B;
    margin-bottom: 70px;
}

.book_wrapper p {
    font-family: open sans;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    line-height: 28px;
    margin-bottom: 50px;
}

.book_wrapper > div > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.book_wrapper > div > div strong {
    font-family: open sans;
    font-weight: 700;
    font-size: 18px;
    color: #000000;
    line-height: 20px;
}

.book_wrapper > div > div span {
    font-family: open sans;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    line-height: 19px;
}

.book_wrapper hr {
    margin-top: 20px;
    border: 1px solid #0000001F;
}


.book_wrapper form h5 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: open sans;
    font-weight: 700;
    line-height: 21px;
    color: #333333;
    padding-top: 50px;
}

.book_wrapper form h6 {
    font-family: open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 17.7px;
    color: #333333;
    text-transform: uppercase;
    grid-column: 1/3;
}

.form_wrapper form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.form_wrapper form > div:nth-child(2) {
    width: 100%;
    grid-column: 1/3;
}

.book_wrapper form label {
    font-family: quicksand;
    font-weight: 400;
    line-height: 17px;
    color: #666666;
    font-size: 17px;
}

.book_wrapper form select {
    color: #999999;
    font-family: quicksand;
    font-weight: 400;
    line-height: 15px;
    font-size: 14px;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="tel"],
.form_wrapper input[type="email"],
.form_wrapper input[type="number"],
.form_wrapper textarea,
.form_wrapper select {
    margin-top: 10px;
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #0000001F;
    border-radius: 4px;
    box-sizing: border-box;
}

.form_wrapper textarea {
    height: 100px;
}

.form_wrapper input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #C4C4C4;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    margin-right: 10px;
}

.form_wrapper input[type="radio"]:checked::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    background-color: #007FA4;
    transform: translate(-50%, -50%);
}

.input_final label{
    display: flex;
}

.input_final p , .form_group label p {
    position: relative;
    top: -4px;
}

.form_wrapper input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 20px;
    border: 2px solid #C4C4C4;
    position: relative;
    margin-right: 15px;
    vertical-align: sub;
}

.form_wrapper input[type="checkbox"]:checked {
    background-color: #007FA4;
}

.form_wrapper input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form_wrapper form > div:nth-child(11) {
    grid-column: 1/3;
}

.form_wrapper form > div:nth-child(11) label {
    color: #333333;
    font-family: open sans;
    font-weight: 400;
    line-height: 24px;
    font-size: 17px;
}

.form_wrapper form > div:nth-child(13) label {
    color: #333333;
    font-family: open sans;
    font-weight: 400;
    line-height: 24px;
    font-size: 17px;
}

.form_wrapper form > div:nth-child(17) label {
    color: #333333;
    font-family: open sans;
    font-weight: 400;
    line-height: 24px;
    font-size: 17px;
}

.form_wrapper form > div:nth-child(13) {
    grid-column: 1/3;
    display: flex;
    gap: 35px;
    margin-left: -30px;
}

.form_wrapper form > div:nth-child(15) {
    grid-column: 1/3;
}

.form_wrapper form > div:nth-child(17) {
    grid-column: 1/3;
    display: flex;
    gap: 35px;
    margin-left: -30px;
}

.form_wrapper form > div:nth-child(18) {
    grid-column: 1/3;
}

.form_wrapper form > div:nth-child(19) {
    grid-column: 1/3;
}

.form_wrapper button[type="submit"] {
    font-size: 20px;
    background-color: #D1D3D4;
    color: #fff;
    border: none;
    font-family: quicksand;
    font-weight: 700;
    width: 30%;
    padding: 15px 35px;
    border-radius: 50px;
    cursor: pointer;
    grid-column: 1/3;
    margin-bottom: 50px;
}

.form_wrapper button[type="submit"]:hover {
    background-color: #007FA4;
    transition: 0.3s;
}

.last_wrapper {
    grid-column: 1/3;
}

.last_wrapper > div:nth-child(2) {
    border-radius: 5px;
    background: #FAFAFA;
    padding: 40px 15px 20px 15px;
    margin-bottom: 40px;
}

.last_wrapper > div:nth-child(3) {
    margin-bottom: 30px;
}

.last_wrapper > div:nth-child(3) label {
    color: #333333;
    display: flex;
}

.last_wrapper > div:nth-child(4) label {
    color: #333333;
    display: flex;
}

.last_wrapper p {
    font-family: quicksand;
    font-weight: 400;
    color: #333333;
    font-size: 17px;
}

.input_final input[type="checkbox"] {
    width: 22px;
}

.book hr {
    border: 1px solid #EDEFF5;
}

@media (max-width: 600px) {

    .book_wrapper h3 {
        font-size: 28px;
        font-family: quicksand;
        text-align: center;
        margin: 0;
        margin-bottom: 20px;
    }

    .book_wrapper img {
        margin-bottom: 20px;
    }

    .book_wrapper {
        margin: 20px;
        padding: 0;
    }

    .book_wrapper p {
        font-size: 16px;
        font-weight: 400;
        font-family: open sans;
        text-align: center;
        margin-bottom: 30px;
    }

    .book_wrapper strong {
        font-size: 14px;
    }

    .book_wrapper span {
        font-size: 14px;
    }

    .form_wrapper form {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .form_wrapper  form h5 {
        font-size: 16px;
        padding-top: 25px;
    }

    .form_wrapper form label {
        font-size: 13px;
    }

    .form_wrapper form select {
        font-size: 12px;
    }

    .input_final p {
        font-size: 13px;
    }

    .form_wrapper form h6 {
        font-size: 13px;
    }

    .form_wrapper form input {
        font-size: 23px;
    }

    .last_wrapper p {
        margin-bottom: 1px;
        font-size: 13px;
        text-align: start;
        color: #000000;
    }

    .last_wrapper > div:nth-child(3) {
        margin-bottom: 15px;
    }

    .last_wrapper > div:nth-child(3) input[type="checkbox"] {
        width: 38px;
        height: 18px;
    }

    .input_final input[type="checkbox"] {
        width: 18px;
        height: 18px;
    }

    .form_wrapper input[type="radio"] {
        width: 24px;
        height: 24px;
    }
    
    .form_wrapper input[type="radio"]:checked::after {
        width: 12px;
        height: 12px;
    }

    .form_wrapper button[type="submit"] {
        font-size: 16px;
        width: 73%;
        padding: 15px 1px;
        margin: 20px 0;
    }

    .form_wrapper form > div:nth-child(20) > div:nth-child(5) {
        justify-content: center;
        justify-items: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }
}