.font {
    position: absolute;
    bottom: -45px;
    left: 20px;
    z-index: 999999;
}

.box__search {
    position: relative;
    margin-bottom: 60px;
}

.explorer_wrapper>div {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border-radius: 20px;
}

.box__searchWrapper {
    max-width: 1300px;
    margin: 0 auto;
}

.box__search {
    background: #fff;
    border: 1px solid rgba(175, 175, 175, 0.25);
    box-shadow: 0px 6px 16px rgba(0, 127, 164, 0.1), 0px 3px 18px rgba(163, 171, 204, 0.18);
}

.font {
    margin-bottom: 20px;
}

.event__notFound p {
    font-size: 16px;
    text-align: center;
}

.date strong {
    font-weight: 700;
    font-size: 56px;
    color: #444444;
    text-align: center;
}

.buttons__filters {
    position: absolute;
    top: -3px;
    display: flex;
    right: 30px;
}

.buttons__filters > svg:nth-child(1) {
    position: relative;
    margin-right: 10px;
}

.buttons__filters div {
    width: 1px;
    height: 17px;
    position: relative;
    left: -5px;
    top:3px;
    background: #fff;
}

.buttons__filters > svg:nth-child(2) {
    padding-left: 4px;
    margin-left: 10px;
}

.buttons__filters svg {
    color: #fff;
    font-size: 25px;
}

.date span {
    font-family: "open sans";
    font-weight: 700;
    font-size: 20px;
    color: #5C6570;
}

.explorer_wrapper>div>div:nth-child(1) {
    grid-column: 1/2;
    display: grid;
    text-align: center;
    align-content: center;
}

.explorer_wrapper>div>div:nth-child(2) {
    grid-column: 2/6;
    height: 230px;
}

.font {
    text-decoration: none;
    font-family: "open sans";
    font-weight: 700;
    font-size: 10px;
    color: #A3ABCC;
    display: flex;
    gap: 7px;
    padding: 5px 0;
}

.lastimg {
    height: 100%;
    min-width: 400px;
    object-fit: fill;
    /* La imagen cubrirá todo el contenedor sin deformarse */
    background: linear-gradient(#00010100, #00000099);
}

.explorer_wrapper>div>div h3 {
    font-family: "open sans";
    font-weight: 700;
    padding-bottom: 20px;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    font-size: 30px;
    color: #444444;
}



.explorer_wrapper>div>div h6 {
    font-family: "open sans";
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 10px;
    color: #5C6570;
}

.explorer_wrapper>div>div h5 {
    font-family: "" open sans"";
    font-weight: 400;
    font-size: 15px;
    color: #5C6570;
}

.explorer_wrapper>div>div:nth-child(3) {
    grid-column: 6/11;
    padding: 40px 45px 20px 10px;
}

.price span {
    font-family: "open sans";
    font-weight: 400;
    font-size: 13px;
    color: #5C6570;
    margin-bottom: 20px;
    line-height: 30px;
}

.price strong {
    font-family: "open sans";
    font-weight: 700;
    font-size: 33px;
    color: #007FA4;
}

.price>div {
    display: flex;
    gap: 30px;
    justify-content: end;
    padding-top: 10px;
}

.explorer_wrapper>div>div:nth-child(4) {
    grid-column: 11/13;
    text-align: end;
    align-content: center;
    padding-right: 45px;
    padding-bottom: 20px;
}

.price h6 {
    display: none;
}

.fontres {
    display: none;
}

.search__main {
    background: #007FA4;
}

.search__main>div:nth-child(1) {
    display: flex;
}

.search__main input {
    border: none;
    min-width: 350px;
    outline: none;
    font-family: 'Quicksand';
    color: #fff;
    background: transparent;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    font-size: 17px;
}

.filters__main {
    display: flex;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0px;
    margin-bottom: 30px;
}

.filters__main>div:nth-child(2) input {
    padding-right: 0 !important;
}

.filters__main>div:nth-child(3) input {
    background: #fff;
    padding-left: 0px !important;
}

.filters__main>div:nth-child(3) {
    width: 200px !important;
}

.search__main button {
    border: 1px solid #fff;
    padding: 10px 40px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background: transparent;
    margin-left: 20px;
    border-radius: 30px;
}

@media (max-width: 1440px) {
    .search__main>div:nth-child(1) {
        max-width: 998px;
        margin: 0 auto;
    }

    .explorer {
        max-width: 998px;
        margin: 0 auto;
    }

    .explorer_wrapper>div>div:nth-child(3) {
        grid-column: 6/10;
        padding-right: 0px;
        padding-left: 0px;
    }

    .explorer_wrapper>div>div:nth-child(2) {
        grid-column: 2/5;
        min-width: 350px;
    }

    .explorer_wrapper>div>div:nth-child(4) {
        padding-right: 15px;
        grid-column: 10/13;
    }

    .lastimg {
        height: 100%;
        width: 100%;
    }
    .explorer_wrapper>div>div:nth-child(1) {
        padding: 10px;
    }
}

@media (max-width: 998px) {

    .search__main>div:nth-child(1) {
        max-width: 740px;
        margin: 0 auto;
    }

    .explorer {
        max-width: 740px;
        margin: 0 auto;
    }

    .explorer_wrapper>div>div:nth-child(3) {
        padding-left: 20px;
        grid-column: 4/9;
    }
    .explorer_wrapper>div>div:nth-child(3) h3 {
        font-size: 16px;
        overflow: visible;
        width: auto !important;
        white-space: initial;
        text-overflow: initial;
    }
    .explorer_wrapper>div>div:nth-child(2) {
        width: 100%;
    }

    .explorer_wrapper>div>div:nth-child(4) {
        padding-right: 15px;
        grid-column: 9/13;
    }
    .explorer_wrapper>div>div:nth-child(4) strong {
        font-size: 18px;
    }
    .explorer_wrapper>div>div:nth-child(2) {
        height: 200px;
        grid-column: 2/4;
    }
    .lastimg {
        height: 100%;
        width: 100%;
        min-width: auto;
    }
    .date strong {
        font-size: 40px;
    }
    .date span {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .filters__main {
        grid-template-columns: repeat(2,1fr);
        flex-wrap: wrap;
     }
    .search__main>div:nth-child(1) {
        max-width: 90%;
        margin: 0 auto;
    }
    .box__search {
        position: relative;
    }
    .explorer {
        max-width: 90%;
        margin: 0 auto;
    }
    .explorer_wrapper {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position: relative;
        grid-gap: 30px;
        border-radius: 20px;
        margin-bottom: 0;
    }

    .lastimg {
        background: linear-gradient(#00010100, #00000099);
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .explorer_wrapper>div>div:nth-child(1) {
        display: none;
    }

    .explorer_wrapper>div>div:nth-child(2) {
        min-width: auto;
    }

    .explorer_wrapper>div>div:nth-child(2) {
        grid-column: 1/13;
    }

    .explorer_wrapper>div>div:nth-child(2) a {
        display: none;
    }

    .explorer_wrapper>div>div:nth-child(3) {
        grid-column: 1/13;
        padding: 0;
        padding: 20px 20px 30px 20px;
    }

    .explorer_wrapper>div>div:nth-child(3) h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .explorer_wrapper>div>div:nth-child(3) h5 {
        font-size: 14px;
    }

    .explorer_wrapper .real {
        display: none;
    }

    .explorer_wrapper .h6res {
        display: block;
        font-size: 14px;
    }

    .explorer_wrapper>div>div:nth-child(4) {
        grid-column: 1/13;
        text-align: start;
        padding: 0;
        padding: 0px 0px 30px 20px;
    }

    .price>div {
        display: none;
    }

    .explorer_wrapper>div>div:nth-child(4) strong {
        color: #212121;
        font-size: 20px;
    }

    .explorer_wrapper>div>div:nth-child(4) span {
        font-size: 12px;
        font-weight: 700;
        color: #5C6570;
    }

    .explorer_wrapper>div>div:nth-child(4) h6 {
        display: block;
        font-size: 12px;
        font-family: "open sans";
        font-weight: 400;
        color: #bc0000;
    }

    .fontres {
        text-decoration: none;
        font-family: "open sans";
        font-weight: 700;
        font-size: 10px;
        color: #A3ABCC;
        display: flex;
        gap: 5px;
        padding: 5px 0;
        margin-bottom: 25px;
    }
}

@media (max-width: 600px) {
    .filters__main {
        grid-template-columns: repeat(1,1fr);
     }
     .explorer_wrapper {
        grid-template-columns: repeat(1,1fr);
    }
    .search__main>div:nth-child(1) {
        display: flex;
        flex-wrap: wrap;
    }
    .search__main > div > div:nth-child(2) {
        display: none;
    }
    .search__main input {
        width: 90% !important;
        min-width: 250px;
    }
    .box__search {
        margin-bottom: 30px;
    }
    .event__notFound p {
        font-size: 13px;
        text-align: center;
    }
    .input__search {
        position: relative;
        width: 100%;
    }
}