.cabezera {
    background: #F9FAFC;
}

.header {
    max-width: 1440px;
    padding: 20px 0px;
    margin: 0 auto;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #F9FAFC;
}

/* .logo1 {
    grid-column: 1/4;
    height: 60px;
} */

.corazon {
    grid-column: 10/13;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
}

.corazon > p {
    margin-right: 20px;
    font-weight: 900;
}

.search_container {
    grid-column: 4/9;
    display: flex;
    align-items: center;
    border: 2px solid rgba(175, 175, 175, 0.25);
    border-radius: 50px;
    background: #ffffff;
}

.search_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.search {
    flex: 1;
}

.search_container  {
    position: relative;
}

.search_input {
    width: 90%;
    border: 1px solid blue;
    border: none;
    position: relative;
    outline: none;
    font-family: Quicksand;
    padding: 15px 0px;
    font-size: 15px;
    color: #5C6570;
    font-weight:700;
}

.search_container .dropdownSearch , .search_containerMobile .dropdownSearch {
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
    opacity: 0;
    left: 0;
    width: 100%;
    visibility: hidden;
    transform: translateY(-20px);
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    top: 80px;
    z-index: 999999;
}

.dropdown__header a {
    text-decoration: none;
}

.search_container .activeSearch {
    background: #ffffff;
    border-radius: 10px;
    opacity: 1;
    width: 100%;
    left: 0;
    max-height: 500px;
    overflow-y: auto;
    visibility: visible;
    position: absolute;
    transform: translateY(0);
    z-index: 1;
    box-shadow: 0px 1px 6px 0px rgba(71, 89, 147, 0.2);
    top: 60px;
    z-index: 999999;
}

.search_containerMobile .activeSearch{
    background: #ffffff;
    border-radius: 10px;
    opacity: 1;
    width: 100%;
    left: 0;
    overflow-y: auto;
    visibility: visible;
    position: absolute;
    transform: translateY(0);
    z-index: 1;
    box-shadow: 0px 1px 6px 0px rgba(71, 89, 147, 0.2);
    top: 0px;
    z-index: 999999;
}


.favorites {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.events {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.favorites img , .events  img {
    margin-right: 20px;
}

.favorites p  {
    color: #4A4A4A;
    font-weight: 800;
}

.events p {
    color: #7b7b7b;
    font-weight: 700;
}

.favorites h3 {
    font-size: 17px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.events h3 {
    color: #444444;
}

.event__left {
    display: flex;
    align-items: flex-start;
}

.noResults {
    padding: 20px;
    color: #9B292B;
}

.event__left > div img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.favorites > div:nth-child(1) {
    width: 70px !important;
    height: 40px;
}

.favorites {
    display: flex;
    position: relative;
    align-items: flex-start;
    cursor: pointer;;
}

.favorites svg {
    position: absolute;
    right: 10px;
    top: 23px;
    cursor: pointer;
}

.favorites h3 {
    margin-top: 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.favorites > div img {
    width: 60px;
    object-fit: fill;
    height: 100%;
}

.favorites__dropdown {
    max-height: 400px;
    overflow-y: auto;
}

.events span {
    color: #8b8b8b;
}

.noFavorite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 60px;
    height: 100%;
}

.noFavorite > div p , .noFavorite div  {
    text-align: center;
}

.noFavorite img {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

.noFavorite p {
    margin-top: 20px;
}

.seeAll {
    cursor: pointer;
    border-top: 1px solid #EDEFF5;
    padding: 20px;
}

.seeAll p {
    color: #007FA4;
}

.seeAll strong {
    font-weight: 900;
}

.events > div:nth-child(2) {
    text-align: right;
}

.corazon>div {
    width: 360px;
}

.initSession {
    margin-right: 10px;
    color: #fff;
    background: #007FA4;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    font-family: 'Open Sans';
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .search_container > div:nth-child(1) , .search_containerMobile > div:nth-child(1) {
        display: none;
    }
    .corazon>div {
        right: 0px;
        width: 100%;
        top: 0;
        height: 100vh;
    }
    .corazon > p {
        display: none;
    }
    .favorites svg {
        right: 20px
    }
    .closeFavorites {
        position: absolute;
        right: 13px;
        top: 18px;
    }
    .favorites__dropdown {
        height: 100% !important;
        max-height: 100%;
    }
    .active ul , .dropdown__header {
        height: 100%;
    }
    .corazon img {
        background: transparent;
    }
    .searchMobile input {
        border: none;
    }
    .searchMobile {
        position: relative;
        background: #fff;
        border: 1px solid #e8e8e8;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 10px;
        border-radius: 20px;
        padding: 15px 30px;
        display: flex;
        align-items: center;
    }
    .searchMobile img:nth-child(1) {
        position: relative;
        left: -10px;
    }
    .searchMobile input {
        font-family: 'Quicksand';
        outline: none;
    }
    .searchMobile svg {
        position: absolute;
        right: 20px;
        z-index: 999;
        font-size: 30px;
    }
    .searchMobile svg ,  .searchMobile svg path {
        stroke: #9B292B !important;
    }
    .search_containerMobile .activeSearch{
        height: 100vh;
        overflow: hidden;
        top: 0;
    }
    /* .search_icon_container {
        left: 60px;
        position: relative;
    } */
}