@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {}

.ReactModal__Body--open {
  overflow: hidden;
}

.blur-background {
  filter: blur(3px);
  pointer-events: none; /* Prevent interaction with background content */
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
}

.slick-slide > div {
  display: flex;
  justify-content: center;
  height: auto;
  /* O establece una altura fija */
}

.slick-dots {
  bottom: 30px !important;
}

.slick-dots li button:before {
  background: #7c7c7c;
  width: 55px !important;
  border-radius: 10px;
}

.slick-next:before , .slick-next , .slick-prev{
  display: none !important;
}

.slick-dots li button:before {
  height: 6px !important;
  width: 55px !important;
  font-size: 0;
  opacity: 1;
}

.slick-dots li button {
  padding: 0px;
  border-radius: 10px;
  background: #fff;
  width: 55px !important;
}

.slick-dots li button {
  height: 5px !important;
  background: #fff !important;
  width: 55px !important;
  opacity: 1;
}

.slick-dots li {
  height: 2px !important;
  margin-left: 45px;
}

.slick-dots li.slick-active button {
  border-radius: 10px;
}

.slick-dots li.slick-active button:before {
  background: #fff !important;
  opacity: 1 !important;
  border-radius: 10px;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 450px;
  margin-bottom: 30px;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.slick-slide {
  padding: 10px; /* Agrega espacio horizontal entre las tarjetas */
}

.slider-banner .slick-list {
  height: 440px !important;
}

.slider-banner .slick-list > div {
  height: 98% !important;
}

.slider-banner .slick-list > div > div > div {
  height: 94%;
}

.slider-banner .slick-list img {
  height: 100% !important;
}

.slider-banner .slide .slick-slide {
  padding: 0 !important;
}

.scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1); /* Color del thumb y track */
}

.scrollbar::-webkit-scrollbar {
  width: 4px; /* Ancho del scrollbar vertical */
  height: 4px; /* Alto del scrollbar horizontal */
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5); /* Color del thumb */
  border-radius: 9999px; /* Bordes redondeados */
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8); /* Color al hover */
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Color del track */
}

@media (max-width: 600px) {
  #map-container {
    margin-bottom: 0;
  }

  .slick-slider button {
    display: none !important;
  }
}