.categories__wrapper {
    padding: 30px;
}

.categories__wrapper > div:nth-child(1) {
    text-align: center;
}

.categories__wrapper h2 {
    color: #861F21;
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

.selected svg path{
    fill: #861F21 !important;
}

@media screen and (max-width: 768px) {
    .categories__modal > div:nth-child(1) {
        position: absolute;
        width: 100px;
        padding: 30px;
        height: auto !important; 
        height: 100vh !important;
        background: #fff !important;
        top: 44% !important;
        /* inset: 0 !important; */
        margin-right: 0px;
    }
    .categories__wrapper h2 {
        font-size: 25px;
        margin-top: 100px;
    }
    .categories__card {
        grid-template-columns: repeat(2,1fr);
    }
    .categories__card > div {
        width: auto;
    }
    .categories__wrapper {
      height: 100vh;
      z-index: 999999;
      position: relative;
    }
    .section > div:nth-child(2) > :nth-child(1) > div:nth-child(5) {
        position: relative;
    }
    .categories__modal > div:nth-child(1) {
        transform: translate(-50%, -46%) !important;
    }
}