.wrapper__select {
    position: relative;
    border-radius: 4px;
    cursor: pointer !important;
    width: 300px;
}

.wrapper__select input {
    cursor: pointer;
}

.disabled__select {
    pointer-events: none;
}

.content__noResults__Select p {
    padding: 10px;
}

.content__listOptions {
    position: absolute;
    width: 100%;
    overflow-y: auto;
    border-radius: 5px;
    background: #F6F6F6;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    z-index: 999999;
    top: 60px !important;
    overflow-x: hidden;
}

.content__listOptions li:last-child {
    border-bottom: none;
}

.content__listOptions li p {
    text-transform: uppercase;
    font-size: 12px;
}

.input__select.disabled__select span {
    color: rgb(94, 98, 120) !important;
    font-weight: 700 !important;
    font-size: 12px;
}

.content__listOptions li {
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border-radius: 6px;
    background: #fff;
    position: relative;
    list-style: none;
}

.content__listOptions li:hover {
    background-color: #fff;
    color: rgb(12, 12, 12);
    transition: 0.2s;
}

.content__listOptions li:hover p {
    color: #4d4d4d;
    background-color: #dbdbdb;
    border-radius: 20px;
    width: 100%;
}

.content__listOptions p {
    display: block;
    text-align: left !important;
    margin: 0 !important;
    font-family: 'Quicksand';
    text-transform: capitalize !important;
    font-size: 15px !important;
    cursor: pointer !important;
    transition: 0.2s;
    padding: 13px;
    color: #4d4d4d !important;
    font-weight:700;
}

.content__listOptions input {
    width: 100%;
    border: none;
    background: #fff;
    cursor: pointer;
    padding: 10px;
    outline: none;
}


.content__listOptions input:focus-within,
.content__listOptions input:focus-visible,
.content__listOptions input:focus {
    line-clamp: unset;
}

.content__listOptions::-webkit-scrollbar {
    -webkit-appearance: none;
}

.content__listOptions::-webkit-scrollbar:vertical {
    width: 10px;
}

.content__listOptions::-webkit-scrollbar-button:increment,
.content__listOptions::-webkit-scrollbar-button {
    display: none;
}

.content__listOptions::-webkit-scrollbar:horizontal {
    height: 10px;
}

.content__listOptions::-webkit-scrollbar-thumb {
    background-color: #4d4d4d;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
}

.content__listOptions::-webkit-scrollbar-track {
    border-radius: 10px;
}

.selected__value {
    position: absolute;
    top: 18px;
    left: 10px;
}

.selected__value span {
    font-size: 12px !important;
    display: -webkit-box;
    /* -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */
    position: relative;
    overflow: hidden;
    color: #111 !important;
    text-overflow: ellipsis !important;
    top: -8px !important;
    
}

.select__arrow {
    position: absolute;
    bottom: 33px;
    left: 38px;
}

.select__arrow svg {
    position: relative;
    top: 0px !important;
    color: #111 !important;
}

.select__marker {
    position: absolute;
    bottom: 34px;
    right: 18px;
}

.select__arrow svg path {
    fill: #007fa4 !important;
    color: #007fa4 !important;
}

.input__select {
    position: relative;
    width: 100%;
}

.input__select span {
    font-size: 16px !important;
    transition: 0.5s;
    position: relative;
    font-weight: 700 !important;
    z-index: 1;
    left: 0px;
    top: -1px !important;
}

.options__selectTotal {
    padding: 3px 10px !important;
}

.input__select svg {
    position: absolute !important;
    top: 4px;
    fill: #5e6278;
    color: #111111;
    right: 5px;
}

.input__select svg path {
    fill: #111111
}

.disabledDiv {
    background-color: #f3f4f5 !important;
    color: #666666;
}

.disabledDiv div input {
    display: none;
}


.disabledDiv .content__listOptions {
    display: none;
}

.options__selectTotal {
    padding: 0px !important;
}

.options__selectTotal:hover {
    background: #F4F8FC !important;
}

.select__loader__container {
    position: absolute;
    bottom: 6px;
    right: 12px;
}

.select__loader__icon {
    width: 16px;
    height: 16px;
    border: 2px solid #7e7e7e;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation .6s linear infinite;
}

.positionBottom{
    top: 38px;
}
.positionTop{
    bottom: 38px;
}
.positionBottomWithLabel{
    top: auto;
}
.positionTopWithLabel{
    bottom: 38px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.selectedOption {
    transition: 0.2s;
}

.selectedOption p {
    background-color: #F4F8FC;
    color: #4d4d4d !important;
}