.venta {
    background: #ffffff;
}

.venta_wrapper {
    max-width: 1440px;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.boxmayor {
    margin-top: 15px;
    grid-column: 1/8;
}

.boxmayor2 {
    grid-column: 9/13;
}

.boxmayor>div h2 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 36px;
    color: #007fa4;
}

.boxmayor>div hr {
    height: 20px;
}

.description {
    line-height: normal;
}

.seeMoreButton {
    background: transparent;
    border: none;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    color: #BC0000;
}

.direction {
    margin-top: 20px;
}

.direction p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.description2 {
    line-height: normal;
    padding-left: 10px;
}

.boxmayor>div>div {
    display: flex;
    align-items: center;
    padding-top: 15px;
    gap: 30px;
}

.description span {
    font-family: open sans;
    font-weight: 600;
    font-size: 16px;
}

.description strong {
    font-family: open sans;
    font-weight: 100;
    font-size: 16px;
}

.description2 span {
    font-family: quicksand;
    font-weight: 500;
    font-size: 16px;
    color: #6F7DFF;
}

.description2 strong {
    font-family: quicksand;
    font-weight: 700;
    font-size: 16px;
    color: #6F7DFF;
}

.logmagen {
    width: 100%;
    padding-top: 30px;
}

.fuent a {
    text-decoration: none;
    font-family: open sans;
    font-weight: 700;
    font-size: 11px;
    color: #A3ABCC;
    display: flex;
    gap: 7px;
    padding: 5px 0;
}

.boxmayor>div:nth-child(3) h4 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 21px;
    color: #212121;
}

.boxmayor>div:nth-child(3) {
    padding: 40px 0;
}

.boxmayor>div:nth-child(3) p {
    font-family: open sans;
    font-weight: 300;
    font-size: 17px;
    color: #212121;
    line-height: 30px;
    padding-top: 17px;
}

.boxmayor>div:nth-child(4) h4 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 21px;
    color: #212121;
    padding-bottom: 20px;
}

.boxmayor>div:nth-child(4) p {
    font-family: open sans;
    font-weight: 300;
    font-size: 17px;
    color: #212121;
    line-height: 30px;
    padding-bottom: 40px;
}

.boxmayor>div:nth-child(4) strong {
    font-family: open sans;
    font-weight: 400;
    font-size: 18px;
    color: #212121;
}

.nexthr h4 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 21px;
    color: #212121;
    padding-top: 60px;
    padding-bottom: 14px;
}

.notas {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 15px;
    box-sizing: border-box;
    padding-bottom: 100px;
}

.notas>div {
    border: 1px solid #EDEFF5;
    padding: 25px 55px;
    border-radius: 5px;
    background: #F7F7FA;
}

.notas img {
    padding: 22px;
    width: 80px;
    height: 80px;
}

.notas>div>div {
    background: #BC0000;
    display: flex;
    align-items: center;
    justify-items: center;
    width: fit-content;
    border-radius: 50%;
}

.comyfav {
    padding-top: 25px;
    padding-bottom: 73px;
    display: flex;
    gap: 30px;
    justify-content: end;
    align-content: center;
}

.comyfav>div:nth-child(2) {
    line-height: normal;
}

.comyfav span {
    color: #A3ABCC;
    font-family: open sans;
    font-weight: 700;
    padding-left: 15px;
    font-size: 20px;
}

.comyfav img {
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.compra {
    grid-column: 8/13;
    background: #F7F7FA;
    padding: 17px 33px;
    border-radius: 8px;
}

.compra>div:nth-child(1) h6 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 17px;
    color: #212121;
    line-height: 24px;
    padding-bottom: 10px;
}

.compra>div:nth-child(1) {
    padding: 20px 0px;
}

.compra>div:nth-child(1) p {
    font-family: open sans;
    font-size: 18px;
    color: #212121;
    font-weight: 300;
    line-height: 24px;
}

.compra>div:nth-child(2) h6 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 17px;
    color: #212121;
    padding-top: 15px;
}

.fechas {
    display: grid;
    padding-top: 22px;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.fechas>div {
    background: #ffffff;
    cursor: pointer;
    display: grid;
    text-align: center;
    padding: 8px 20px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.fechas>div strong {
    font-family: quicksand;
    font-weight: 700;
    font-size: 25px;
    color: #000000;
}

.fechas>div span {
    font-weight: open sans;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}

.plat h6 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 17px;
    color: #212121;
    line-height: 24px;
    padding-bottom: 10px;
}

.plat p {
    font-family: open sans;
    font-weight: 300;
    font-size: 19px;
    color: #212121;
}

.plat a {
    font-family: open sans;
    font-weight: 600;
    font-size: 19px;
    color: #007FA4;
}

.plat {
    padding: 45px 0;
}

.precio h6 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 17px;
    color: #212121;
    line-height: 24px;
    margin-bottom: 10px;
}

.precio strong {
    font-family: open sans;
    font-weight: 700;
    font-size: 30px;
    color: #212121;
    line-height: 32px;
}

.precio {
    padding-bottom: 45px;
    margin-top: 30px;
}

.entrada h6 {
    font-family: quicksand;
    font-weight: 700;
    font-size: 17px;
    color: #212121;
    line-height: 24px;
    padding-bottom: 20px;
}

.entrada button {
    background: #9B292B;
    cursor: pointer;
    border: 2px solid #9B292B;
    border-radius: 30px;
    padding: 12px 0;
    width: 100%;
    margin-bottom: 15px;
}

.fuent .responsive {
    display: none;
}

.fuent .description2 {
    display: none;
}

.boxmayor2>div:nth-child(3) {
    display: none;
}

.boxmayor2>div:nth-child(4) {
    display: none;
}

.boxmayor2>div:nth-child(5) {
    display: none;
}

.boxmayor2>div:nth-child(6) {
    display: none;
}

.entrada>div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.entrada img {
    width: 20px;
    position: relative;
    top: 5px;
    height: 20px;
    margin-right: 10px;
}

.entrada button {
    color: #fff;
    font-weight: 900;
    font-family: 'Quicksand';
    font-size: 16px;
}

